/* CSS pour toute l'application */

@font-face {
    font-family: viga;
    src: url(../fonts/Viga-Regular.ttf);
}

body {
    margin: 0px;
    background-color: #FAFAFA;
}

/* Configuration des polices */
h1, h2, h3, h4 {
    font-family: viga;
}

p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}